@keyframes slide-up {
  0% {
    transform: translateY(0);
    filter:  opacity(0.0);
  }
  100% {
    transform: translateY(-120px);
    filter:  opacity(1.0);
  }
}

.mapperCard {
  height: 500px;
  width: 360px;
  filter:  drop-shadow(16px 16px 18px rgba(0, 0, 0, 0.2));
  z-index: 1;
  border-radius: 15px 15px 0;
}

.slideUp {
  position: absolute;
  top: calc(5rem + 100px);
  right: 3rem;
  animation: slide-up 250ms ease-out;
  animation-fill-mode: forwards;
}

.mapperCardHeader {
  background-image: linear-gradient(to bottom right, rgb(49, 181, 230), rgb(27, 143, 211));
  color: var(--color-white);
  padding: 16px 10px;
  /* padding: 0.5rem !important; */
}

.mapperCardTitle {
  font-size: 14pt !important;
  text-align: center;
}

.mapperCardMedia {
  height: 230px;
}

.mapperCardMediaImage {
}
